extends layout

block content
  div(class='row')
    div(class='col')
      h1= name
      p Welcome to #{name}
    div(class='col-6')
      h2 Description
      p= description

      h2 Temperature
      p Current Temperature: #{temp}
      p Low: #{lowTemp}
      p High: #{highTemp}