extends layout

block content
  div(class='row')
    div(class='col')
      section(id='current-weather')
      div(class='card-deck mt-4')
        div(class='card transparent-card')
          div(class='card-body')
            div(class='row')
              div(class='col')
                h1(class='card-title') Current Weather in #{name}
            div(class='row')
              div(class='col-6')
                p(class='card-text') Date
                p(id='temperature', class='card-text') #{temp}&deg;
              div(class='col-6')
                img(src=`http://openweathermap.org/img/wn/${icon}@2x.png`, class='weather-icon')
      div(class='card-deck mt-4')
        div(class='card transparent-card')
          div(class='card-body')
            div(class='row')
              div(class='col')
                p(class='card-text') #[i(class='fab fa-cloudscale')] Humidity: #{humidity}%
                p(class='card-text') #[i(class='fas fa-wind')] Wind Speed: #{windSpeed} mph
                p(class='card-text') #[i(class='fas fa-cloud')] Cloudiness: #{cloudiness}%
                p(class='card-text') #[i(class='fas fa-sun')] Sunrise: #{sunrise}
                p(class='card-text') #[i(class='fas fa-moon')] Sunset: #{sunset}